{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Fiction Express Blog!</h1>
    <div class="home-user-container">
        {% if user.is_authenticated %}
            <a href="{% url 'post_create' %}" class="button">Create Post</a>
            <form action="" method="get" style="display: inline;">
                <label class="switch">
                    <input type="checkbox" name="my_posts" value="true" onchange="this.form.submit()" {% if request.GET.my_posts %} checked {% endif %}>
                    <span class="slider round"></span>
                </label>
                <label for="my_posts">My posts only</label>
            </form>
        {% else %}  
            <p>To create and delete posts <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a>.</p>
        {% endif %}
    </div>        

    <div class="blog-posts">
        {% for post in page_obj %}
            <div class="post-container" onclick="openModal('{{ post.title|escapejs }}', '{{ post.content|escapejs }}', 'Posted on {{ post.date_posted }} by {{ post.author }}')">
                <div class="post">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <small>Posted on {{ post.date_posted }} by {{ post.author }}</small>
                </div>
                {% if user.is_authenticated and user == post.author or user.is_superuser %}
                    <div class="post-delete">
                        <a href="{% url 'post_delete' post.id %}" class="delete-button"><i class="fas fa-trash"></i> Delete</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Modal to display post  -->
    <div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle"></h2>
            <p id="modalContent"></p>
            <small id="modalDetails"></small>
        </div>
    </div>

{% endblock %}