{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Are you sure you want to delete this post?</h2>
    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}
            <p class="form-row">Title: <strong>{{ post.title }}</strong></p>
            <button type="submit" class="button delete-button" style="text-decoration: underline;"><i class="fas fa-trash"></i> Delete</button>
            <a href="{% url 'home' %}" class="button button-cancel">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
