{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Create a New Post</h2>
    <div class="form-wrapper">
      <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            {{ form.title.label_tag }} {{ form.title }}
          </div>
          <div class="form-row">
            {{ form.content.label_tag }} {{ form.content }}
          </div>
          <button type="submit" class="button">Post</button>
      </form>
    </div>
</div>
{% endblock %}
